﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Insert the money</h1>
    <select id="moneys" onchange="getSnacks(this.selectedIndex)">
        <option value="none">
            None
        </option>
    </select>
    <select id="snacks" style="visibility:hidden;margin-top:auto" onchange="priceChange(this.selectedIndex)">
        <option value="empty">None</option>
    </select>
    </br>
    <div id="infoDiv" style="visibility:hidden">
        <label>Price :&nbsp;</label><label id="price" >0</label>&nbsp;<label>Quantity :&nbsp;</label><label id="qty">0</label>
    </div>
    <input type="button" onclick="Submit()" value="Buy!"/>&nbsp;<label id="alert" style="visibility:hidden">Please choose the snack!</label>
</div>

@section Scripts {
    <script>
        var alls = Array();
        var noms = Array();
        $.get(window.location + "Nominals/All", function (datas) {
            noms = datas.value;
            $.each(datas.value, function (i, data) {
                $('#moneys').append($('<option>', {
                    value: data.id,
                    text: data.priceNominal
                }));
            });
        });

        function getSnacks(id) {
            console.log("ini dari snacks "+id);
            if (document.getElementById("moneys").options[id].value !== "none") {
                $('#snacks').prop('style', 'visibility:visible');
                $('#infoDiv').prop('style', 'visibility:visible');
                $.get(window.location + "Items/All", function (datas) {
                    alls = datas.value;
                    $.each(datas.value, function (i, data) {
                        $('#snacks').append($('<option>', {
                            value: data.id,
                            text: data.name
                        }));
                    });
                });
            } else {
                $('#snacks').prop('style', 'visibility:hidden');
                $('#snacks').empty();
                $('#infoDiv').prop('style', 'visibility:hidden');
            }
        }

        function priceChange(id) {

            for (i = 0; i < alls.length; i++) {
                if (alls[i].id === document.getElementById("snacks").options[id].value) {
                    document.getElementById('price').innerHTML = alls[i].price;
                    document.getElementById('qty').innerHTML = alls[i].qty;
                    break;
                } else {
                    document.getElementById('price').innerHTML = 0;
                    document.getElementById('qty').innerHTML = 0;
                }
            }
        }

        function Submit() {
            var monId = document.getElementById('moneys').options[document.getElementById('moneys').selectedIndex].value;
            var priId = document.getElementById('snacks').options[document.getElementById('snacks').selectedIndex].value;

            if (monId == "none") {
                $('#alert').prop('style', 'visibility:visible');
                document.getElementById('alert').innerHTML = "Insufficient Money!";
            } else {
                if (priId == "empty") {
                    $('#alert').prop('style', 'visibility:visible');
                    document.getElementById('alert').innerHTML = "Please choose the snack!";
                } else {
                    if (alls.length > 0 && alls[document.getElementById('snacks').selectedIndex-1].qty > 0) {
                        $('#alert').prop('style', 'visibility:hidden');
                        var jobject = {
                            "nomId": monId,
                            "snaId": priId
                        };
                        console.log(jobject);
                        $.ajax({
                            method: 'POST',
                            url: window.location + 'Items/Bought',
                            dataType: 'application/json',
                            data: jobject,
                            complete: function (result) {
                                var data = JSON.parse(result.responseText);
                                console.log(data);
                                $('#alert').prop('style', 'visibility:visible');
                                document.getElementById('alert').innerHTML = data.value.messageStatus + " " + data.value.change;
                                document.getElementById('moneys').value = 'none';
                                getSnacks(0);
                            }
                        });
                    } else {
                        $('#alert').prop('style', 'visibility:visible');
                        document.getElementById('alert').innerHTML = "Snack Unavailable!";
                    }
                    
                }

            }
            
        }
    </script>
    }
